<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SYS>repeat</title>
    <link href="../static/index.css" rel="stylesheet" type="text/css">
    <script src="../static/jquery-3.6.0.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            function repeat_files(text) {
                if (text == "") {
                    $("#repeat_files_list").html('<div style="color: red">發生錯誤！</div><a class="link_a" id="refind">重新尋找</a>')
                    $("#delete_repeat_files").hide()
                    $("#move_repeat_files").hide()
                } else if (text == "nodata") {
                    $("#repeat_files_list").html('<div>資料夾為空</div><a class="link_a" id="refind">重新尋找</a>')
                    $("#delete_repeat_files").hide()
                    $("#move_repeat_files").hide()
                } else {
                    html_text = ""
                    text = text.split("|")
                    text.forEach(n => {
                        if (n == text[0]) {
                            from_folder = `從"${n}"資料夾中發現以下檔案重複：`
                        } else {
                            n = n.split("&")
                            set_text = ""
                            if (n[1] != "nofile") {
                                n.forEach(i => {
                                    if (i != n[0]) {
                                        set_text += `<div>${i}</div>`
                                    }
                                })
                                html_text += `<div style="margin-top: 1%">發現 "${n[0]}" 與以下檔案相同：</div><div style="margin-left: 2em">${set_text}</div>`
                            }
                        }
                    })
                    if (html_text != "") {
                        html_text = `${from_folder}<div id="repeat_files_list_a" style="margin-left: 2em">${html_text}</div><div style="text-align: end;"><a class="link_a" id="refind">重新尋找</a></div>`
                    } else {
                        html_text = `${text[0]}資料夾中無檔案重複<div style="text-align: end;"><a class="link_a" id="refind">重新尋找</a></div>`
                        $("#delete_repeat_files").hide()
                        $("#move_repeat_files").hide()
                    }
                    $("#repeat_files_list").html(html_text)
                }
            }
            repeat_files($("#repeat_files_list").text())
            $("#repeat_files").click(function () {
                $("#repeat_files_list").toggle()
            })
            $("#from_files").click(function () {
                $("#from_files_list").toggle()
            })
            $("#delete_repeat_files").click(function () {
                $("#delete_repeat_files_list").toggle()
            })
            $("#move_repeat_files").click(function () {
                $("#move_repeat_files_list").toggle()
            })
            $("#a_close").click( function () {
                $("#a_box").hide()
            })
            $("#b_close").click( function () {
                $("#b_box").hide()
            })
            if (!({{ setting_a_box }})) {
                $("#a_box").hide()
                $("#b_box").hide()
            }

            $("#start_findfilesfrom").click( function () {
                value = $("#from_folder").val();
                if (value.length == 0) {
                    $("#from_folder_a").text("此格不能空")
                } else {
                    $("#from_folder_a").text("")
                    value = value.replace(/\//g, "|")
                    value = value.replace(/\\/g, "|")
                    value = `/repeat/findfilesfrom=${value}|*`
                    location.replace(value)
                }
            })
            $("#start_delete").click( function () {
                if ((window.location.pathname).indexOf("findfilesfrom=") != -1) {
                    location.replace(`/repeat/doing/folder=${window.location.pathname.substr(22)}&type=delete&infolder=0`);
                } else {
                    alert("錯誤！")
                }
            })
            $("#start_move").click( function () {
                from_folder = $("#for_folder").val()
                if (from_folder.length == 0) {
                    $("#for_folder_a").text("此格不能空")
                } else {
                    $("#for_folder_a").text("")
                    from_folder = from_folder.replace(/\//g, "|")
                    from_folder = from_folder.replace(/\\/g, "|")
                    if ((window.location.pathname).indexOf("findfilesfrom=") != -1) {
                        location.replace(`/repeat/doing/folder=${window.location.pathname.substr(22)}&type=move&infolder=${from_folder}`);
                    } else {
                        alert("錯誤！")
                    }
                }
            })
        })
    </script>
</head>
<body>
    <div class="title">
        <div class="title_I">處理重複檔案</div>
        <a href="/" class="title_I title_a">＜返回</a>
    </div>
    <div class="link_box">
        <a id="repeat_files">查看重複檔案</a>
        <div id="repeat_files_list" style="display: none;">{{ text }}</div>
        <a id="from_files">變更查找資料夾位置</a>
        <div id="from_files_list" style="display: none;">
            資料夾完整路徑：<input type="text" id="from_folder" value="" placeholder="(預設位置為.\files)"><div id="from_folder_a" style="color: red; display: inline;"></div><br>
            <div style="text-align: end;"><a id="start_findfilesfrom" class="link_a">確認變更位置</a></div>
        </div>
        <a id="delete_repeat_files">刪除重複檔案</a>
        <div id="delete_repeat_files_list"  style="display: none;">
            <div id="a_box" class="list_a">
                <a id="a_close" style="font-size: 12px;">關閉</a>
                <div>備註：此功能將直接把目標資料夾中重複檔案各留下一個</div>
            </div>
            <a id="start_delete" class="link_a">開始執行</a>
        </div>
        <a id="move_repeat_files">移動重複檔案至其他資料夾</a>
        <div id="move_repeat_files_list" style="display: none;">
            <div id="b_box" class="list_a">
                <a id="b_close" style="font-size: 12px;">關閉</a>
                <div>備註：此功能將直接把目標資料夾中重複檔案全部移至其他資料夾</div>
            </div>
            移動至：<input type="text" id="for_folder" value="" placeholder="目標資料夾位置"><div id="for_folder_a" style="color: red; display: inline;"></div>
            <div style="text-align: end;"><a id="start_move" class="link_a">開始執行</a></div>
        </div>
    </div>
</body>
</html>